.musicContainer {
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

.musicRow{
    padding-left: 0; 
    padding-right: 0; 
}

.backdrop{
    position: absolute;
    height: 100%;
    width:100%;
     
}

.displayAlbum{
    position: relative;
    width:fit-content;
    -webkit-transform : rotate(-15.5deg) scale(1.4); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(-15.5deg) scale(1.4); /* IE 9 */
    transform         : rotate(-15.5deg) scale(1.4); /* Firefox 16+, IE 10+, Opera */
    top:22%;
    left: 19%;
    z-index: -1;
    overflow: hidden;
}

.mainMusic{
    color: red;
}

.sideBar{
    color: red;
    background-color: #221F1F;
}

.albumDiv{
    display: flex;
    height: 100vh;
   
    flex-direction: column;
    align-items: center;
    overflow:auto;
    margin-top: 5px;
}
.albumList{
    margin-top: 10px;
    height: 30%;
   
}

.logoMusic{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}