.homeScreenContainer {
    height: 100vh;
    width:100vw;
    background-image: url("../../assets/images/mountain.png");
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.homeSection{
        height:100%;
        width:100%;
    }

.topRow {
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.middleRow{
    height: 30%;
}

.bottomRow{
    height: 30%; 
}

.Logo{
   height: 90%;
   width: 90%;
}

.leftCol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.Left{
    display: flex;
    flex-direction: row;
    padding-right: 20%;
    line-height: 0.9;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.rightCol {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.Right{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    line-height: 0.9;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.pageLink {
    margin-bottom: 0;
    color: #fff;
    text-decoration: none;
}

.ArrowLeft {
    height:38px;
    width:38px;
    margin-right:10px;
}

.ArrowRight{
    height:38px;
    width:38px;
    margin-left:10px;
}

.DownArrow {
    height:38px;
    width:38px;
    margin-top:10px;
}

.Down{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.adminRow{
    height:10%;
    opacity: 0.2; 
}

.admin{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    color: #cdcdcd;
    text-decoration: none;
}

